body{
    background-color: beige;
    background-image: url(..//img/kkk.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
      font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
