body{
    background-color: beige;
    background-image: url(..//img/fondo.jpg);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: azure;
}
.img{
    text-align: center;
}
.stilo{
    text-align: center;

}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.xd{
    width: 350px;
    width: 310px;
}
.ilustrador{
    width: 250px;
    height: 250px;
}